/**
 * Created by johnuiterwyk on 30/10/14.
 */
/**
 * Created by johnuiterwyk on 30/10/14.
 */
body {
  margin: 0;
  padding: 0;
  padding-bottom: 10px;
}
.header {
  background: #25273a;
  margin-bottom: 10px;
}
.header .logo {
  padding: 5px 15px;
}
.auto-meta-document {
  padding: 10px;
  min-width: 380px;
  margin: auto;
}
.run-analysis {
  margin: 10px 0;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #25273a;
  border-radius: 5px;
  color: #ffffff;
  width: 190px;
  text-align: center;
  float: left;
  font-weight: 100;
}
.suggest-list {
  margin: 10px 0;
  padding-top: 20px;
  border-top: 1px solid #b1b2b5;
}
.list-group {
  margin: 0;
}
